App_WebReferences/Exoneraciones/wsExoneraciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EstaExonerado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Matricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Semestre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EstaExoneradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EstaExoneradoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EstaExoneradoSoapIn">
    <wsdl:part name="parameters" element="tns:EstaExonerado" />
  </wsdl:message>
  <wsdl:message name="EstaExoneradoSoapOut">
    <wsdl:part name="parameters" element="tns:EstaExoneradoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsExoneracionesSoap">
    <wsdl:operation name="EstaExonerado">
      <wsdl:input message="tns:EstaExoneradoSoapIn" />
      <wsdl:output message="tns:EstaExoneradoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsExoneracionesSoap" type="tns:wsExoneracionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstaExonerado">
      <soap:operation soapAction="http://tempuri.org/EstaExonerado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsExoneracionesSoap12" type="tns:wsExoneracionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EstaExonerado">
      <soap12:operation soapAction="http://tempuri.org/EstaExonerado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsExoneraciones">
    <wsdl:port name="wsExoneracionesSoap" binding="tns:wsExoneracionesSoap">
      <soap:address location="http://cobaesenlinea.info/exoneraciones/wsExoneraciones.asmx" />
    </wsdl:port>
    <wsdl:port name="wsExoneracionesSoap12" binding="tns:wsExoneracionesSoap12">
      <soap12:address location="http://cobaesenlinea.info/exoneraciones/wsExoneraciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>